@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
/* Variables*/
/* Animation */
@-webkit-keyframes neumorph {
  from {
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  to {
    -webkit-box-shadow: 15px 15px 30px #363d47,  -15px -15px 30px #4e5767;
            box-shadow: 15px 15px 30px #363d47,  -15px -15px 30px #4e5767;
  }
}
@keyframes neumorph {
  from {
    -webkit-box-shadow: 0;
            box-shadow: 0;
  }
  to {
    -webkit-box-shadow: 15px 15px 30px #363d47,  -15px -15px 30px #4e5767;
            box-shadow: 15px 15px 30px #363d47,  -15px -15px 30px #4e5767;
  }
}

/* Normalize */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.title {
  color: #fff;
  font-size: 2.8em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  background: #00adff;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
}

.separator {
  margin-left: 325px;
}

.text {
  color: #ffffff;
}

.button {
  width: auto;
  padding: 10px 22px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #424a57;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-weight: 500;
}

.button:hover {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: #424a57;
  -webkit-box-shadow: 15px 15px 30px #363d47,  -15px -15px 30px #4e5767;
          box-shadow: 15px 15px 30px #363d47,  -15px -15px 30px #4e5767;
}

.header {
  background: #424a57;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100vh;
  padding: 30px 15px 30px 30px;
  position: fixed;
  border-right: 1px solid #efefef;
  width: 325px;
}

.header__logo {
  color: #fff;
  text-decoration: none;
  padding-bottom: 30px;
  border-bottom: 1px solid #efefef;
}

.header__title {
  font-size: 2.4em;
  text-decoration: none;
  color: #fff;
}

.header__subtitle {
  color: #fff;
  font-size: 1.4em;
}

.header__nav {
  color: #fff;
}

.header__icon {
  width: auto;
  height: 28px;
  padding-right: 5px;
}

.header__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin: 25px 0 15px;
  font-size: 1.8em;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.header__link--active {
  color: #00adff;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main {
  background: #424a57;
  display: block;
  padding: 50px 30px;
  width: 100%;
}

.main__title {
  color: #fff;
  font-weight: bold;
  font-size: 4em;
  text-align: left;
  line-height: 155%;
  margin-bottom: 10%;
}

.main__title--underline {
  border-bottom: 3px solid #00adff;
}

.main__title--block {
  background-color: #00adff;
}

.main__container {
  margin: 10% auto;
  background: #424a57;
  height: auto;
}

.main__button {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  padding-right: 25px;
  font-size: 1.7em;
}

.main__button:hover {
  padding-right: 30px;
}

.main__button::after {
  content: " ";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main__button:hover::after {
  content: "\2193";
  position: absolute;
  right: 10px;
  top: 9px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.about {
  background-color: #424a57;
}

.about .container {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.about__title {
  color: #fff;
  font-size: 2.8em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about__pictureBox {
  background: #424a57;
  background: -webkit-gradient(linear, left bottom, left top, from(#424a57), color-stop(50%, rgba(66, 74, 87, 0)));
  background: linear-gradient(0deg, #424a57 0%, rgba(66, 74, 87, 0) 50%);
}

.about__picture {
  width: 300px;
  height: 100%;
  border-radius: 35px;
  margin-right: 30px;
}

.about__text {
  font-size: 1.4em;
  max-width: 700px;
  margin: 20px auto;
}

.projects {
  background-color: #424a57;
  padding: 30px 0;
}

.projects__subtitle {
  text-align: center;
  font-size: 1.7em;
  margin: 20px auto;
  color: #ffffff;
  max-width: 700px;
}

.projects a {
  text-decoration: none;
  color: #ffffff;
}

.projects__card {
  width: 350px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.projects__card:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.projects__cardTitle {
  font-size: 1.4em;
}

.projects__img {
  width: 275px;
  border-radius: 10px;
  padding: 10px 0;
  text-align: center;
}

.projects__description {
  color: #fff;
  padding: 0 10px;
  font-size: 1em;
}

.projects__description--bold {
  font-weight: 600;
  padding: 5px 0;
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
}

.contact {
  background-color: #424a57;
}
/*# sourceMappingURL=styles.css.map */