@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Variables*/
$primary-color: #424a57;
$primary-color-light: lighten($primary-color, 15%);
$primary-color-darken: darken($primary-color, 15%);
$highlightcolor: #00adff;

/* Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    
}
html {
    scroll-behavior:smooth
}

.title {
    color: #fff;
    font-size: 2.8em;
    align-self: flex-end;
}
.section {
    width: 100%;
    height: auto;
}

.container {
    width: 100%;
    background: $highlightcolor;
    height: 100px;
    display: flex;
    padding-left: 25px;
}

.separator {
    margin-left: 325px;
}

.text {
    color: #ffffff;
}

.button {
    width: auto;
    padding: 10px 22px;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: $primary-color;
    transition: all 0.3s ease-in;
    font-weight: 500;

    &:hover {
        transition: all 0.3s ease-in;
        background: #424a57;
        box-shadow:  15px 15px 30px #363d47, 
             -15px -15px 30px #4e5767;
    }
}

.header {
    background: $primary-color;
    display: inline-flex;
    flex-flow: column nowrap;
    height: 100vh;
    padding: 30px 15px 30px 30px;
    position: fixed;
    border-right: 1px solid #efefef;
    width: 325px;

    &__logo {
        color: #fff;
        text-decoration: none;
        padding-bottom: 30px;
        border-bottom: 1px solid #efefef;
    }

    &__title {
        font-size: 2.4em;
        text-decoration: none;
        color: #fff;
    }

    &__subtitle{
        color: #fff;
        font-size: 1.4em;
    }

    &__nav {
        color: #fff;
    }
    &__icon {
        width: auto;
        height: 28px;
        padding-right: 5px;
    }
    &__link {
        text-decoration: none;
        display: flex;
        color: #fff;
        margin: 25px 0 15px;
        font-size: 1.8em;
        text-align: left;
        align-items: center;
        transition: all 0.2s ease-in-out;

        &--active {
            color: $highlightcolor;
            transition: all 0.2s ease-in-out ;
        }
    }
}

.main {
    background: $primary-color;
    display: block;
    padding: 50px 30px;
    width: 100%;

    &__title {
        color: #fff;
        font-weight: bold;
        font-size: 4em;
        text-align: left;
        line-height: 155%;
        margin-bottom: 10%;

        &--underline {
            border-bottom: 3px solid $highlightcolor;
        }
        &--block {
            background-color: $highlightcolor;
        }
    }
    &__container {
        margin: 10% auto;
        background: $primary-color;
        height: auto;
    }
    &__button {
        color: #fff;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        position: relative;
        padding-right: 25px;
        font-size: 1.7em;
    }
    &__button:hover {
        padding-right: 30px;
    }
    &__button::after {
        content: " ";
        transition: all 0.4s ease-in-out;
    }
    &__button:hover::after {
        content: "\2193";
        position: absolute;
        right: 10px;
        top: 9px;
        transition: all 0.4s ease-in-out;
    }
}

.about {
    background-color: $primary-color;

    .container {
        height: 100px;
        width: 100%;
        display: flex;
        padding-left: 25px;
    }
    &__content {
        display: flex;
        padding: 30px 25px;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }
    &__title {
        color: #fff;
        font-size: 2.8em;
        align-self: flex-end;
    }
    &__pictureBox {
        background: rgb(66,74,87);
        background: linear-gradient(0deg, rgba(66,74,87,1) 0%, rgba(66,74,87,0) 50%);

    }
    &__picture {
        width: 300px;
        height: 100%;
        border-radius: 35px;
        margin-right: 30px;
    }
    &__text {
        font-size: 1.4em;
        max-width: 700px;
        margin: 20px auto;
    }
}

.projects {
    background-color: $primary-color;
}

.contact {
    background-color: $primary-color;
}