@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #00adff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #00adff;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 2px;
  -webkit-transition: background-color 0s 0.13s linear;
  transition: background-color 0s 0.13s linear;
}

.hamburger--spring .hamburger-inner::before {
  top: 10px;
  -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring .hamburger-inner::after {
  top: 20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring.is-active .hamburger-inner {
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  background-color: transparent !important;
}

.hamburger--spring.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--spring.is-active .hamburger-inner::after {
  top: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transform: translate3d(0, 10px, 0) rotate(-45deg);
          transform: translate3d(0, 10px, 0) rotate(-45deg);
}

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  -webkit-transition-duration: 0.13s;
          transition-duration: 0.13s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r .hamburger-inner::after {
  top: -20px;
  -webkit-transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear;
  transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear;
}

.hamburger--spring-r .hamburger-inner::before {
  -webkit-transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spring-r.is-active .hamburger-inner {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
          transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spring-r.is-active .hamburger-inner::after {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear;
}

.hamburger--spring-r.is-active .hamburger-inner::before {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Variables*/
/* Sizes */
/* Icons */
.react {
  fill: #61dafb;
}

/* Normalize */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body, html {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.title {
  color: #fff;
  font-size: 2.8em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section {
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  background: #00adff;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
}

.separator {
  margin-left: 325px;
}

@media screen and (max-width: 1024px) {
  .separator {
    margin-left: 0;
  }
}

.text {
  color: #ffffff;
}

.button {
  width: auto;
  padding: 10px 22px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #424a57;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  font-weight: 500;
}

.button:hover {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: #424a57;
  -webkit-box-shadow: 15px 15px 30px #363d47,  -15px -15px 30px #4e5767;
          box-shadow: 15px 15px 30px #363d47,  -15px -15px 30px #4e5767;
}

@media screen and (min-width: 1025px) {
  .hamburger, .mHeader {
    display: none;
  }
  .header {
    background: #424a57;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    height: 100vh;
    padding: 30px 15px 30px 30px;
    position: fixed;
    border-right: 1px solid #efefef;
    width: 325px;
  }
  .header__logo {
    color: #fff;
    text-decoration: none;
    padding-bottom: 30px;
    position: relative;
    border-bottom: 1px solid #efefef;
  }
  .header__logo a {
    text-decoration: none;
  }
  .header__title {
    font-size: 2.4em;
    text-decoration: none;
    color: #fff;
    line-height: 100%;
  }
  .header__subtitle {
    color: #fff;
    font-size: 1.4em;
  }
  .header__nav {
    color: #fff;
  }
  .header__icon {
    width: auto;
    height: 28px;
    padding-right: 5px;
  }
  .header__link {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    margin: 25px 0 15px;
    font-size: 1.8em;
    text-align: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
  .header__link--active {
    color: #00adff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    display: none;
  }
  .mHeader {
    width: 100%;
    background-color: #424a57;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em 2em;
  }
  .mHeader__logo {
    width: 100%;
    height: auto;
  }
  .mHeader__title {
    color: #fff;
    font-size: 2em;
    text-decoration: none;
  }
  .mHeader__menu {
    list-style: none;
    color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    position: absolute;
    right: 20px;
    top: 80px;
    background: #21252c;
    z-index: 5;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .mHeader__menu--closed {
    display: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
  }
  .mHeader__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.4em;
    padding: .8em 1em;
    border: 1px solid #00adff;
  }
}

.main {
  background: #424a57;
  display: block;
  padding: 50px 30px;
  width: 100%;
}

.main__title {
  color: #fff;
  font-weight: bold;
  font-size: 4em;
  text-align: left;
  line-height: 155%;
  margin-bottom: 10%;
}

.main__title--underline {
  border-bottom: 3px solid #00adff;
}

.main__title--block {
  background-color: #00adff;
}

.main__container {
  margin: 10% auto;
  background: #424a57;
  height: auto;
  padding: 0;
}

.main__button {
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
  padding-right: 25px;
  font-size: 1.7em;
}

.main__button:hover {
  padding-right: 30px;
}

.main__button::after {
  content: " ";
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.main__button:hover::after {
  content: "\2193";
  position: absolute;
  right: 10px;
  top: 9px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.about {
  background-color: #424a57;
}

.about .container {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 25px;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.about__title {
  color: #fff;
  font-size: 2.8em;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.about__pictureBox {
  background: #424a57;
  background: -webkit-gradient(linear, left bottom, left top, from(#424a57), color-stop(50%, rgba(66, 74, 87, 0)));
  background: linear-gradient(0deg, #424a57 0%, rgba(66, 74, 87, 0) 50%);
}

.about__picture {
  width: 300px;
  height: 100%;
  border-radius: 35px;
  margin-right: 30px;
}

.about__text {
  font-size: 1.4em;
  max-width: 700px;
  margin: 20px auto;
}

.about__skills {
  border-top: 1px solid #636f83;
  background: #fff;
}

.about__skillsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  max-width: 70%;
  margin: 0 auto;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__skill {
  font-size: 2em;
  margin: 20px 10px;
  width: 100px;
  font-weight: bold;
}

.about__icon {
  display: block;
  margin: 10px auto;
  width: 50px;
}

.about__subtitle {
  color: #000;
  font-weight: bold;
  text-align: center;
  font-size: 1.7em;
  padding: 20px 0;
}

.projects {
  background-color: #424a57;
}

.projects__subtitle {
  text-align: center;
  font-size: 1.7em;
  margin: 30px auto 10px;
  color: #ffffff;
  max-width: 700px;
}

.projects a {
  text-decoration: none;
  color: #ffffff;
}

.projects__card {
  width: 350px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 3em 0;
}

.projects__cardTitle {
  font-size: 1.4em;
}

.projects__img {
  width: 275px;
  border-radius: 10px;
  padding: 10px 0;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.projects__img:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.projects__description {
  color: #fff;
  padding: 0 10px;
  font-size: 1em;
}

.projects__description--bold {
  font-weight: 600;
  padding: 5px 0;
}

.projects__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
}

.contact {
  background-color: #424a57;
  text-align: center;
}

.contact__container {
  height: 100%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contact__subtitle {
  color: #ffffff;
  font-size: 1.7em;
  padding: 30px;
  display: block;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.contact__card {
  width: 100%;
  min-width: 250px;
  max-width: 250px;
  min-height: 200px;
}

.contact__logo {
  height: 125px;
  display: block;
  margin: 15px auto;
}

@media screen and (max-width: 414px) {
  .contact__logo {
    height: 100px;
  }
}

.contact__link {
  color: #fff;
  text-decoration: none;
}

#Capa_1 {
  fill: #ffffff;
  height: 125px;
}

@media screen and (max-width: 414px) {
  #Capa_1 {
    height: 100px;
  }
}

.line {
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  position: relative;
  margin-top: 15px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.anim-typewriter {
  -webkit-animation: typewriter 4s steps(40) 1s 1 normal both, blinkTextCursor 1000ms steps(40) infinite normal;
          animation: typewriter 4s steps(40) 1s 1 normal both, blinkTextCursor 1000ms steps(40) infinite normal;
}

@-webkit-keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 6.5em;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 6.5em;
  }
}

@-webkit-keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
/*# sourceMappingURL=styles.css.map */